.container-cart{
    padding: 15px;
    background-color: rgb(243, 241, 241);
}

.ul-cart{
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    gap: 20px;
    justify-content: center;
    .li-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #fff;
        list-style-type: none;
        margin: 0 20px;
        padding: 5px;
        border-radius: 5px;
        border: solid thin rgb(9, 63, 9);
        button{
            width: auto;
            display: inline-block;
        }
        .img-cart{
            width: 100px;
        }
    }
}
.cart-vacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-link{
    display: flex;
    margin-top: 10px;
    width: 250px;
    color: #ffffff; 
    background-color: #808080; 
    padding: 10px 15px; 
    text-decoration: none; 
    justify-content: center;
    border-radius: 5px; 
}

.btn-link:hover{
    background-color: #cbf7bc;
    color: black;
}