.navbar {
  display: flex;
  width: 100%;
  background-color: #cbf7bc;

  .brand {
    img {
      width: 300px;
      height: auto;
      padding: 5px;
      margin-left: 5px;

    }
  }

  ul {
    display: flex;
    margin: auto;
    list-style-type: none;

    li {
      a {
        font-size: 20px;
        margin: 20px;
        color: black;
      }
    }
  }

  .cartwidget {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  li:hover {
    background-color: #159c60;
    border-radius: 5px;
  }
}
