#navbar{
    display: flex;
    width: 100%;
    background-color: #f3e18e; /* Fondo del Navbar */
}
#navbar h1{
    color: #343a40; /* Color del H1 */
    font-size: 35px; /* Tamaño del H1 */
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 10px;
}

#navbar ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}

#navbar li a{
    font-size: 20px;
    margin: 20px;
    color: black;
}
#cartwidget{
    display: flex;
    align-items: center;
    margin-right: 15px;
    img{
        width: 40px;
        height: 40px;
    }
}
#cartwidget img{
    width: 40px;
    height: 40px;
}

#cartwidget img:hover{
    width: 45px;
    height: 45px;
}

li:hover {
    background-color:  #e6d072; /* Cambia el color de fondo al pasar el mouse */
    font-size: 25px;
}